{% extends "@section" %}
{% block section %}
  <div class="container contacts__relative-content" data-aos="fade-in" data-aos-easing="ease-in-sine" >
    <div class="contacts__gallery">
      {% for item in gallery %}
        <div class="contacts__gallery-item">
          {% render "@img-responsive", item %}
        </div>
      {% endfor %}
    </div>
    <adress class="contacts__adress">
      {{ adress }}
    </adress>
    <p class="mt-3 mb-2 text-center">
      <a href="javascript:;" class="contacts__open-map modal-link" data-modal-target="#contacts-map-modal">
        {{ openMapText }}
      </a>
    </p>
    <div class="contacts__action">
      {% render "@button--primary", {
       label: 'Оставить заявку на перевозку',
       customClassList: 'contacts__action-button modal-link',
       attrs: {
         'data-modal-target':'#action-order'
       }
     }, true %}
    </div>
    <div class="contacts__rest my-2 text-center">
      <p>Телефон, факс: <a href="tel:+78123275127">+7 (812) 327-51-27</a></p>
      <p><a href="mailto:nst@nst-spb.ru">nst@nst-spb.ru</a></p>
    </div>

  </div>
{% endblock %}
