.about-digits {
  position: relative;
  z-index: 5;
  padding-bottom: 60px;

  &__stripes {
    display: none;
    @include media(">=1376px"){
      display: block;
    };
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    .container {
      height: 100%;
    }
  }

  &__stripe {
    position: absolute;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 263px;
    height: 244px;
    &--1, &--3 {
      background-image: url('../images/sections/about-digits/about-digits__stripe-1.png');
    }
    &--2, &--4 {
      background-image: url('../images/sections/about-digits/about-digits__stripe-2.png');
    }
    &--1 {
      bottom: -27px;
      left: -210px;
    }
    &--2 {
      bottom: -27px;
      left: -141px;
    }
    &--3 {
      top: -253px;
      right: -115px;
    }
    &--4 {
      top: -253px;
      right: -183px;
    }
  }

  &__relative-content {
      margin: 5.6em 0;
  }

  &__digits {
    font-size: 9em;
    @include media(">=sm") {
      font-size: 10.5em;
    };
    @include media(">=md") {
      font-size: 12em;
    };
    line-height: 1;
    font-weight: bold;
    letter-spacing: -0.08em;
    color: #044c96;
    @at-root .backgroundclip & {
      background-image: url('../images/sections/about-digits/about-digits__digits-bg.jpg');
      background-repeat: no-repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @at-root .android-default-browser & {
      background: none;
      -webkit-text-fill-color: #044c96;
     -webkit-background-clip: border-box;
    }

    &--1, &--1 {
      background-position: 0% 36%;
    }
    &--3, &--4 {
      background-position: 0% 63%;
    }
  }

  &__item {
    margin-bottom: 5.5em;
  }

  &__description {
    font-size: 2em;
    line-height: 1.05;
    color: #2c2c2c;
  }
}
