{% extends "@section" %}
{% block section__custom %}
<div class="transport-schedule__stripes">
  <div class="container">
    <div class="transport-schedule__stripe transport-schedule__stripe--1"></div>
    <div class="transport-schedule__stripe transport-schedule__stripe--2"></div>
  </div>
</div>
{% endblock %}
{% block section %}
  <div class="container">
    <div class="transport-schedule__chart">
      {% render "@chart" %}
    </div>
    <div class="text-center" data-aos="fade"
         data-aos-easing="ease-in-sine" data-aos-delay="450">
         <h3 class="transport-schedule__legend">
           <span class="transport-schedule__legend-icon"></span><span class="transport-schedule__legend-label">{{ legend }}</span>
         </h3>
    </div>
  </div>
{% endblock %}
