.transport-schedule {
  padding-top: 12em;
  position: relative;

  /**
   * stripes
   */
   &__stripes {
     @extend .about-digits__stripes;

   }
   &__stripe {
     @extend .about-digits__stripe;
     background-image: url('../images/sections/transport-schedule/transport-schedule__stripe.png');
      &--1 {
        top: -167px;
        right: -79px;
      }

      &--2 {
        top: -167px;
        right: -147px;
      }
   }
  /** container with chart **/
  &__chart {
    margin-top: 7em;
  }
  /**
   * custom styles for transport chart
   */
   /** BEM **/
   .chart {
     &__indicator-value {
       background: url('../images/sections/transport-schedule/transport-schedule__indicator-value-bg.png') 0 100% no-repeat;
     }

   }

   &__legend {
    font-weight: 700;
    position: relative;
    margin: 1.5em 0;
    line-height: normal;
    &-icon {
      content: "";
      background: url('../images/sections/transport-schedule/transport-schedule__legend-img.png') 50% 50% no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      background-size: contain;
      margin-right: 1.7em;
    }
    &-label {
      display: inline-block;
      vertical-align: middle;
      font-size: 2em;
      @include media("<480px"){
        max-width: 70%;
        text-align: left;
      };
    }
  }
}
