{% extends "@section" %}
{% block section__custom %}
  <div class="portfolio__header-part"></div>
  <div class="portfolio__relative-content">
    <div class="portfolio__companies">
      <header class="p-section__header">
        <div class="container">
          {% render "@section-title", companies.titleConfig %}
        </div>
      </header>
      <div class="p-section__main">
        <div class="container">
          <div class="row justify-content-center">
            {% for company in companies.items %}
              <div class="col-12 col-sm-6 col-md-4">
                <div class="portfolio__company" data-aos="fade-up" data-aos-delay="{{ loop.index*50 }}">
                    {% render "@img-responsive", company, true %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio__examples">
      <header class="p-section__header">
        <div class="container">
          {% render "@section-title", examples.titleConfig %}
        </div>
      </header>
      <div class="p-section__main">
        <div class="container">
          <div class="portfolio__dots portfolio__dots--l-b"></div>
          <div class="portfolio__dots portfolio__dots--r-t"></div>
          <!-- 20 examples -->
          <div class="row justify-content-center">
            {% for i in range(1, 21) %}
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="portfolio__example" data-aos="fade-up">
                  {%- set exampleImageThumb = "/assets/images/sections/portfolio/examples/thumbs/e" + i + ".jpg" | path  -%}
                  {%- set exampleImageFull = "/assets/images/sections/portfolio/examples/e" + i + "-fullhd.jpg" | path -%}
                  {%- set breakpoints = {
                    sm: '576',
                    md: '768',
                    lg: '992',
                    xl: '1200',
                    xxl:'1600',
                    fullhd: '1920'
                  } -%}
                  {%- set srcSet -%}
                      {%- set comma = joiner() -%}
                      {%- for breakpoint, width in breakpoints -%}
                        {{ comma() }} {{ "/assets/images/sections/portfolio/examples/e" + i + "-" + breakpoint + ".jpg " + width + "w" }}
                      {%- endfor -%}
                  {%- endset -%}

                    {% render "@img-responsive--with-overlay",
                    {
                      'src': exampleImageThumb,
                      'link': exampleImageFull,
                      'attrs': {
                         'data-fancybox': 'gallery',
                         'data-type': 'image',
			                   'data-srcset': srcSet | trim
                      }
                    }, true %}
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- rest examples -->
          <div class="row justify-content-center portfolio__more-examples" style="display: none">
            {% for i in range(21, 46) %}
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="portfolio__example" >
                  {% set exampleImageThumb = "/assets/images/sections/portfolio/examples/thumbs/e" + i + ".jpg" | path  %}
                  {% set exampleImageFull = "/assets/images/sections/portfolio/examples/e" + i + "-fullhd.jpg" | path %}
                  {%- set breakpoints = {
                    sm: '576',
                    md: '768',
                    lg: '992',
                    xl: '1200',
                    xxl:'1600',
                    fullhd: '1920'
                  } -%}
                  {%- set srcSet -%}
                      {%- set comma = joiner() -%}
                      {%- for breakpoint, width in breakpoints -%}
                        {{ comma() }} {{ "/assets/images/sections/portfolio/examples/e" + i + "-" + breakpoint + ".jpg " + width + "w" }}
                      {%- endfor -%}
                  {%- endset -%}

                    {% render "@img-responsive--with-overlay", {
                      'src': exampleImageThumb,
                      'link': exampleImageFull,
                      'attrs': {
                         'data-fancybox': 'gallery',
                         'data-type': 'image',
                        'data-srcset': srcSet | trim
                      }
                    } %}
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="text-center">
              {% render "@button--multiple-values", {
                customClassList: 'portfolio__load-more-button',
                "values": [
                  {
                    "value": "Показать еще 25 фотографий",
                    "visible": true
                  },
                  {
                    "value": "Скрыть 25 фотографий"
                  }
                ]
              } %}
            </div>
        </div>
      </div>
    </div>
    <div class="portfolio__bottom-part"></div>
  </div>
{% endblock %}
