{% extends "@section" %}
{% block section %}
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="text-center" data-aos="fade-up" data-aos-duration="350" data-aos-delay="300" data-aos-anchor-placement="top-center">
            {% render "@img-responsive", offerImage %}
            <div class="offer__gallery hidden">
              {% for i in range(1,13) %}
                {% set num = (i if i>9 else '0'+i) %}
                {% set image = '/assets/images/sections/offer/gallery/' + num + '.jpg' %}
                <a class="offer__gallery-item{% if (i==1) %} active {% endif%}"
                data-sub-html="{{ num }}"
                data-src="{{ image | path }}"
                ><img class="gallery__img" data-src="{{ image | path }}" /></a>
              {% endfor %}
            </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="offer__container text-center" data-aos="fade-left" data-aos-duration="750" data-aos-delay="500" data-aos-anchor-placement="top-center">
          {% render "@section-title", offerTitle %}
          <h3 class="offer__object"> {{ offerObject }} </h3>
          {% render "@hr", offerHr %}
          <div class="offer__note">
            {{ offerNote }}
          </div>
          {% render "@button--primary", {
            label: 'Оставить заявку на расчет',
            customClassList: 'offer__button modal-link',
            attrs: {
              'data-modal-target':'#action-offer'
            }
          }, true %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
