.assortiment {
      padding: 6.5em 0;
      overflow: hidden;
      background: url('../images/sections/assortiment/assortiment__bg.jpg') 50% 0 no-repeat;

  .section-title {
    color: white;
  }
  &__item {
    margin: 4.5em 0;
    @include media(">=md") {
      margin-bottom: 0;
    };
  }

  &__backdrop {
      width: 375px;
      height: 300px;
      max-width: 100%;
      box-shadow: 0 0 0 10px #e1e1e1 inset;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: translateZ(0px);
      transition: 0.3s ease-in-out;
      // @at-root {
      //   .preserve3d .assortiment__backdrop {
      //     width: 100%;
      //     height: 100%;
      //     transform: translateZ(-145px);
      //   }
      // }
      @include media("<380px") {
        width: 100%;
        height: 270px;
        box-shadow: 0 0 0 5px #e1e1e1 inset;
      };
  }

  &__figure {
    @include media("<380px") {
      max-width: 85%;
    };
  }

  &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      margin: 3em 0;
      position: relative;
  }
  &__title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 3em;
  }

  &__body {
      text-align: center;
  }

  &__description {
      font-size: 1.8em;
      margin: 1em auto;
      max-width: 320px;
  }
}

.assortiment__item:hover {
  // BEM
  .assortiment {
    &__backdrop {
      box-shadow: 0 0 0 10px $base-color--primary inset;
    }

    &__button {
      background-color: $base-color--primary;
      color: palette(secondary, dark);
    }
  }
}
