<footer class="footer site-footer" >
  <div class="footer__body">
    <div class="footer__background" style="background: url({{ mapImage | path }}) 50% 0 no-repeat;"></div>
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col-12 col-md-6">
          <div id="contacts" class="footer__aside">
            <h3 class="footer__title">Офис и производство:</h3>
            <div class="footer__contacts" id="our-contacts">
              <div class="footer__line">
                <strong>г. Москва, Дмитровское шоссе, д.11</strong>
              </div>
              <div class="footer__line">
                <div class="footer__phones footer-list">
                  <div class="footer-list__title">
                    <strong>Телефон:
                    </strong>
                  </div>
                  <div class="footer-list__content">
                    <div class="footer-list__value">+7 (495) 940-66-59</div>
                    <div class="footer-list__value">+7 (903) 7777-960</div>
                  </div>
                </div>
              </div>
              <div class="footer__line">
                <strong>E-mail: </strong>info@gform.ru
              </div>
              <div class="footer__line">
                <div>
                  <strong>Режим работы офиса / Пункта выдачи:</strong>
                </div>
                <div>ежедневно с 10:00 до 19:00</div>
              </div>
              <div class="footer__line footer__line--last">
                <strong>Режим работы производства: </strong>Пн-Сб
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-0">
          <div class="d-flex justify-content-center">
            {% render "@button--multiple-values", {customClassList: 'footer__map-toggler'}, true %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__map-container">
      <div class="footer__preloader-overlay">
        {% render "@preloader", { customClassList: 'footer__preloader'}, true %}
      </div>
      <div class="footer__map">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="footer__bottom-panel">
    <div class="container">
      <div class="py-4">
        <ul class="footer__list">
          <li class="cards-li"><img src="{{ '/assets/images/icons/cards.png' | path }}" alig="left" class="fullLoaded"></li>
          <li>
            <a href="#">Порядок оплаты</a>
          </li>
          <li>
            <a target="_blank" href="/docs/Tekhnicheskie_uslovia_izgotovlenia_izdeliy_iz_stekla_IP_Ermolaev_V_N.pdf">Технические условия</a>
          </li>
          <li>
            <a href="#">Гарантии</a>
          </li>
          <li>
            <a target="_blank" href="/docs/dostavka.pdf">Доставка</a>
          </li>
          <li>
            <a target="_blank" href="/docs/vozvrat.pdf">Возврат</a>
          </li>
          <li>
            <a target="_blank" href="/docs/confidencial.pdf">Конфиденциальность</a>
          </li>
          <li>
            <a target="_blank" href="/docs/Dogovor-Oferta_IP_Ermolaev_V_N.pdf">Договор оферты</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__visa-comments">
      <div class="container">
        <p>
          При оплате заказа банковской картой ввод реквизитов карты происходит в системе электронных платежей ПАО АКБ «Авангард», который прошел сертификацию в платежных системах Visa и MasterCard. Представленные Вами данные полностью защищены и никто, включая наш интернет-магазин, не может их получить.
        </p>
      </div>
    </div>
    <div class="footer__copyright">
      <div class="container">
        <p>
          ИП Ермолаев Владислав Николаевич, ОГРНИП 314583813200020 от 12.05.2014, ИНН 583805739186. Служба поддержки клиентов +7 (495) 9406659, help@gform.ru
        </p>
      </div>
    </div>
  </div>
</footer>
