{% from "@modal-macro" import Modal, ActionModal %}
<div class="site-modals">

  <!-- Карта в контактах -->

    {% call Modal(
      {
        id: 'contacts-map-modal',
        customClassList: 'contacts-map',
        mods: ['1920'],
        wrapper: 'contacts-map__container'
      })
    -%}
    <div class="contacts-map__preview" style="background: url('{{ '/assets/images/sections/transport-geography/map__preview-bg.png' | path }}') 50% 0 no-repeat;"></div>
    <div class="contacts-map__preloader-overlay">
      {% include "@preloader--contacts-map" %}
    </div>
    <div class="contacts-map__wrapper">
      <div id="contacts-map"></div>
    </div>
    {%- endcall %}

</div>
