<header class="header site-header">
    <div class="header__back">
    </div>
    <div class="header__back-bottom-wrapper">
      <div class="header__back-bottom"></div>
    </div>


    <div class="header__car"></div>


    <div class="header__top">
       <div class="container">
         <div class="row align-items-center">
           <div class="col-12 col-md-7">
             <div class="header__logo" data-aos="fade-down">
               {% render "@logo" %}
             </div>
           </div>

           <div class="col-12 col-md-5">
             <div class="header__contacts" data-aos="fade-down">
               <ul class="header__phones">
                 <li>
                   <a href="tel:+78123275127" class="phone">+7 (812) 327-51-27</a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
    </div>
  <!--  <div class="header__square-shadow header__square-shadow--mobile"></div>-->
    <div class="header__body">

      <div class="header__square"></div>
      <div class="header__square-shadow header__square-shadow--lg"></div>

      <div class="header__stripes">
        <div class="header__stripes-item header__stripes-item--1"></div>
        <div class="header__stripes-item header__stripes-item--2"></div>
        <div class="header__stripes-item header__stripes-item--3"></div>
      </div>

      <div class="header__dots">
        <div class="header__dots-inner"></div>
      </div>
      <div class="header__relative-content">
        <div class="container">
          <h1 class="site-title">
            <span class="site-title__line" data-aos="fade-down" data-aos-delay="100">Перевозка </span>
            <span class="site-title__line" data-aos="zoom-in" data-aos-delay="200">негабаритных </span>
            <span class="site-title__line" data-aos="zoom-in" data-aos-delay="300">грузов </span>
            <span class="site-title__line site-title__line--highlighted" data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-out" data-aos-duration="750">по России и за рубежом</span>
          </h1>
          <div class="header__action" >
            {% render "@button--primary", {
             label: 'Оставить заявку на перевозку',
             customClassList: 'header__action-button modal-link',
             attrs: {
               'data-modal-target':'#action-order'
             }
           }, true %}
          </div>
        </div>
      </div>

   </header>
