{% extends "@section" %}
{% block section %}
  <div class="container">
    <div class="how__list row justify-content-center">
      {% asyncEach step in steps %}
      {% set delay = 300 + loop.index*100 %}
        <div class="col-12 col-sm-6 col-lg-4 mb-5 how__col" >
          <div class="how__step" data-aos="fade-up" data-aos-duration="800"
               data-aos-anchor-placement="top-center" data-aos-delay="{{ delay }}" >
            <div class="how__header">
              <span class="how__num">{{ step.num }}</span>
              <div class="how__image">
                {% render "@img-responsive", {src: step.icon, customClassList: 'how__icon'} %}
              </div>
            </div>
            <div class="how__body">
              <h3 class="how__title">{{ step.title }}</h3>
              <article class="how__description">{{ step.description }}</article>
            </div>
          </div>
        </div>
      {% endeach %}
    </div>
  </div>
{% endblock %}
