.how {
  padding: 5.8em 0 0;
  &__col {
    // fallback for no-rem browsers
    margin-bottom: 3em;
  }
  &__list {
      margin: 4.5em 0;
  }
  &__step {
    @include media("<lg") {
      max-width: 280px;
      margin: auto;
    };
  }
  &__image {
      width: 11.9em;
      height: 11.9em;
      background-color: $base-color--primary;
      border-radius: 50%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: auto;
  }


  &__header {
      position: relative;
      // display: flex;
      // justify-content: center;
      // align-items: center;
  }

  &__num {
    position: absolute;
    left: -5px;
    right: 0;
    margin: auto;
    width: em-rel((11.9+0.5), 5);
    text-align: right;
    bottom: 0;
    color: #e1e1e1;
    font-size: 5em;
    line-height: 1;
    transform: translate(-100%, 0);
  }

  &__body {
      text-align: center;
      margin-top: 8px;
  }

  &__title {
      font-size: 2em;
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      color: palette(secondary, dark);
  }

  &__description {
      font-size: 1.6em;
      line-height: 1.13;
      max-width: 270px;
      margin: 1.2em auto 0;
  }
}
