.order-search {
  &__results {
    position: relative;
    z-index: 1;
  }

  &__container {
    transition: 0.3s ease;
    &--expanded {
      margin-bottom: 4.7em;
    }
  }

  &__result {

  }

  // Error result
  &__result--error {
    font-size: 3em;
    line-height: 1.6;
    border: 2px solid rgb(175, 136, 0);
    // margin-top: 4.7/3*1em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: #c89b00;
    color: white;
    border-radius: 5px;
  }

  // succes
  &__result--success {
      // margin-top: 4.7em;
      margin: 0 -5em;
  }

}
