{% extends "@section" %}
{% block section %}
  <div class="container">
    <div class="order-search">
    <!--  search container-->
      <div class="order-search__container">
        <form method="POST" class="order-search__form">
            <div class="form-group order-search__group  mb-3 mb-sm-0">
                <label class="order-search__label" for="order-number">Введите номер заказа:</label>
                <input type="text" class="form-control order-search__control required" id="order-number" name="order-number" placeholder="Например: 32706">
            </div><!--
            --><button class="c-button c-button--dark order-search__button" type="submit" name="submit-btn">Уточнить детали заказа</button>
        </form>
      </div>
    <!--  search results -->
      <div class="order-search__results">
        {% render "@preloader--dark", {customClassList: 'pay__preloader'}, true %}
          <div class="order-search__result order-search__result--error" style="display:none;">Вашего заказа не найдено</div>
          <div class="order-search__result order-search__result--success" style="display:none;">
            <div class="order-info">

                <!-- ajax results will be passed here -->
                <div class="order-info__result">
                   <div class="div_title">Стекло Прозрачное</div>
                    <hr class="short-hr">
                    <div>
                     <table class="info">
                      <tbody><tr>
                       <td class="name">Количество изделий:</td><td>2</td>
                      </tr>
                     </tbody></table>
                    </div>
                    <div>
                     <table class="info">
                      <tbody><tr>
                       <td class="name">Толщина:</td><td>6 мм</td>
                      </tr>
                     </tbody></table>
                    </div>
                    <div>
                     <table class="info">
                      <tbody><tr>
                       <td class="name">Размеры:</td>
                       <td>970 x 80 мм</td>
                      </tr>
                     </tbody></table>
                    </div><div>
                     <table class="info">
                      <tbody><tr>
                       <td class="name">Дополнительно:</td>
                       <td>
                        <div>Полировка</div><div>Закалка</div></td>
                      </tr>
                     </tbody></table>
                    </div><hr>
                    <div>
                     <table class="info">
                      <tbody><tr>
                       <td class="name">Доставка:</td><td>Москва. Перовская 66 корп 4 кв 129</td>
                      </tr>
                     </tbody></table>
                    </div>
                    <div>
                     <table class="info">
                      <tbody><tr>
                       <td class="name">Время готовности заказа:</td><td>03.02.2016</td>
                      </tr>
                     </tbody></table>
                    </div>
                </div>
                <div class="order-info__totals">
                  <div class="order-info__title">Стоимость вашего заказа</div>
                  <div class="order-info__sum"><span id="order-info__sum">3500</span> руб</div>
                  <div class="order-info__comment">
                    Оплата возможна только после подтверждения менеджером
                  </div>
                              <div class="order-info__comment_oplat_yes" style="display: none;">
                    Оплата подтверждена. Заказ выполняется
                  </div>
                              <div class="order-info__comment_ready_yes" style="display: none;">
                    Заказ готов. Можно забрать ежедневно с 10.00 до 19.00
                  </div>
                              <div id="agree_oplat" class="order-info__pay-agree">
                                <input type="checkbox" name="checkbox-rules" id="checkbox-rules">
                                <label for="checkbox-rules" class="decor-label"></label>
                                <label for="checkbox-rules" class="text-label">Согласен с условиями оплаты</label>
                              </div>
                  {% render "@button--dark", {
                    label: 'Оплатить заказ',
                    customClassList: 'order-info__pay-button',
                    attrs: {
                        style: 'display: none',
                        onclick: 'checkFormBamkPayment()'
                    }
                  }, true %}
                  {# <button onClick="checkFormBamkPayment()" class="btn btn--medium order-info__pay-button" style="display:none">Оплатить заказ</button> #}
                </div>

                <form id="form_bank_payment" action="https://www.avangard.ru/iacq/post" method="POST" accept-charset="UTF-8">
                  <input type="hidden" id="shop_id" name="shop_id" value="123456789"/>
                  <input type="hidden" id="amount" name="amount" value="30000"/>
                  <input type="hidden" id="back_url" name="back_url" value="http://стекло24.москва/"/>
                  <input type="hidden" id="back_url_ok" name="back_url_ok" value="http://стекло24.москва/thank_you"/>
                  <input type="hidden" id="back_url_fail" name="back_url_fail" value="http://стекло24.москва/order.html"/>
                  <input type="hidden" id="order_number" name="order_number" value="1234"/>
                  <input type="hidden" id="order_description" name="order_description" value="Описание заказа"/>
                  <input type="hidden" id="language" name="language" value="RU"/>
                  <input type="hidden" id="client_name" name="client_name" value="Иванов Иван Иванович"/>
                  <input type="hidden" id="client_phone" name="client_phone" value="+74950000000"/>
                  <input type="hidden" id="client_email" name="client_email" value="iacq@avangard.ru"/>
                  <input type="hidden" id="signature" name="signature" value="5C426D69AA7AC904A9B7C94B42AEB311"/>
                </form>


            </div> <!-- end .order-info -->
          </div> <!-- end .order -->
      </div>
    </div>
  </div>
{% endblock %}
