.section-title.section-title--pay {
    color: $base-color--secondary_dark;
    text-align: left;
    max-width: #{(60/6)}em;
    @include media("<md") {
      text-align: center;
      max-width: 100%;
    };
    @include media("<=375px") {
      font-size: 3.75em;
    };
}
.pay {
  max-width: 80.5em;
  margin: 6em auto;
  padding: 4em;
  background-color: $base-color--primary;
  color: $base-color--secondary_dark;
  @include media(">=md") {
    padding: 4em 6em;
  };
  @include media("<lg") {
    margin: 15px auto;
  };
  @include media("<=640px") {
    margin: 15px;
  };
}

/** order search **/
.order-search {
  margin-top: 3.8em;

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  &__group {
    margin-bottom: 0;
    @include media("<sm") {
      width: 100%;
      flex-basis: 100%;
    };
  }

  &__control {
      font-size: 1.9em;
      width: #{(35/1.9)}em;
      height: #{(5/1.9)}em;
      border-radius: 3px;
      border: none;
      font-weight: 500;
      padding: #{(1.6/1.9)}em;
      max-width: 100%;
  }



  &__label {
      font-size: 1.7em;
      line-height: 1;
      margin-bottom: 0.411em;
      display: block;

  }

  &__button {
    @include media(">=sm") {
      margin-left: #{(2.4/1.7)}em;
      &[disabled] {
        background-color: #c89b00;
        color: white;
        font-weight: 500;
      }
    };
  }
}


/** order with info container **/
.order-result--error {
    font-size: 3em;
    line-height: 1.6;
    border: 2px solid rgb(175, 136, 0);
    margin: 1em auto 0;
    max-width: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: #c89b00;
    color: white;
    border-radius: 5px;
}

/** styles for dynamic table and results **/

      .order-preloader {
        margin-top: 100px;
        position: relative;
      }


      .order-info {
        display: flex;

      }



      .order-info__result {
        box-sizing: border-box;
        display: table-cell;
        min-height: 1px;
        vertical-align: top;
        min-height: 1px;
        padding-right: 0;
        vertical-align: top;
        width: 480px;
        max-width: 100%;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 2em;
        text-align: left;
    }

    .div_title {
      font-size: 3em;
      font-weight: 700;
      line-height: 1;
    }

    hr {
      margin-left: 0;
      border: 1px solid #e4e4e4;

      &.short-hr {
          max-width: 70%;
      }

    }


    .name {
        font-weight: 700;
        vertical-align: top;
        padding-right: 5px;
    }

    .info {
      font-size: 2em;
      line-height: 1.1;
    }

    .info td {
        vertical-align: top;
    }

    .order-info__totals {
      padding-top: 2em;
      margin-left: 20px;
      width: 260px;
      max-width: 100%;
      text-align: center;
    }

    .order-info__title {
      font-size: 3em;
      line-height: 1;
        font-weight: 700;
    }



    .order-info__sum {
      $base: 4.2;
      font-size: #{$base}em;
      line-height: 1.76;
      font-weight: bold;
      border: 5px solid;
      border: em-rel(0.5, $base) solid;
      margin: em-rel(1.5, $base) 0;
      width: 300px;
      max-width: 100%;
    }

    .order-info__comment {
        font-size: 1.7em;
        font-weight: 700;
        line-height: 1;
        margin-bottom: em-rel(3, 1.7);
    }
    .order-info__pay-agree {
        display: flex;
        margin-bottom: em-rel(3, 1.8);
        margin-bottom: em-rel(2, 1.8);
        text-align: left;
        .decor-label {
          border-color: $base-color--secondary_dark;
        }
        .text-label {
          font-size: 1.8em;
          font-weight: 500;
          line-height: 1;
          flex: 1 0;
        }
    }

    .order-info__pay-button {
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        max-width: 260px;
    }
    @include media("<md") {
      .order-search__control {
          margin: auto;
      }

      .order-search__label {
          text-align: center;
      }

      .order-search__form {
          justify-content: center;
      }



      .order-info__sum {
          width: 320px;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
      }

      .order-search__submit {
        margin-left: 0;
      }
      .order-search__result--success {
        // margin-left: 0;
        // margin-right: 0;
      }
      #order-info,
      .order-info,
      .order-info__result,
      .order-info__totals {
          display: block;
          width: 100%;
      }
      .order-info__totals {
        margin-left: 0;
      }

      .order-info__result {
          margin-bottom: 25px;
      }
      .order-info__pay-agree {
        align-items: center;
        justify-content: center;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        .text-label {
          flex: none;
        }
      }

    };

    @include media("<480px") {
       #order-info {
            border-spacing: 0;
        }

        .Apple-tab-span {
            white-space: normal!important;
            display: block;
            margin-bottom: 0.67em;
        }

         .info div {
            margin-bottom: 10px;
            // background: red;
            width: 100%;
        }

         .info {
            display: block;
            // max-width: 250px;
         }
    };
