{% extends "@section" %}
{% block section__custom %}
  <div class="services__header-part"></div>
{% endblock %}
{% block section %}
  <div class="advantages">
    <div class="container">
      <div class="row justify-content-center">
        {% for item in advantages %}
          <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            {% render "@advantage", {
              'mods': '' + loop.index,
              'advantage': item.advantage
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="services__content">
    <div class="text-center">
      <div class="col-12">
        <h3 class="services__sep-title">{{ sepTitle }}</h3>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        {% for service in services %}
        {% if loop.last %}
          {% set mobileLastClass = 'col-12' %}
        {% else %}
          {% set mobileLastClass = 'col-6' %}
        {% endif %}
          <div class="{{ mobileLastClass }} col-sm-4 mb-6">
              {% set servicesConfig = {
                delay: loop.index*10,
                icon: '/assets/images/sections/services/s'+ loop.index + '.png'
              } | objAssign(service)%}
              {% render "@service", servicesConfig %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
