.services {
  opacity: 1;
  padding: 7.5em 0 0;
  position: relative;
  overflow: hidden;

  &__sep-title {
    font-size: 2.2em;
    padding: 1em 1.1em;
    background-color: #f6c300;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 3.5em auto;
    @include media(">=lg"){
      margin: 3.5em -2em;
    };

  }

  &__container {
    margin: 7em 0 0;
    @include media(">=md") {
      margin: 8.5em 0;
    };
  }

  &__inline-bg {
    position: absolute;
    z-index: -1;
    left: 55%;
    right: 0;
    top: auto;
    bottom: 0;
  }
}
