.services {
  opacity: 1;
  position: relative;

  &__header-part {
      position: absolute;
      height: 391px;
      top: -391px;
      left: 0;
      right: 0;
      background: url('../images/sections/services/services__header-part.png') 50% 100% no-repeat;
      background-size: contain;

      @include media("<sm"){
        background-size: 680px;
        height: 120px;
        top: -120px;
      };
  }

  &__sep-title {
    display: inline-block;
    font-size: 2.2em;
    padding: 1em 1.1em;
    background-color: #f6c300;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 3.5em auto;
    @include media(">=xl"){
      margin: 3.5em -2em;
    };

  }

  &__container {
    margin: 7em 0 0;
    @include media(">=md") {
      margin: 8.5em 0;
    };
  }

  &__inline-bg {
    position: absolute;
    z-index: -1;
    left: 55%;
    right: 0;
    top: auto;
    bottom: 0;
  }
}
