{% extends "@section" %}
{% block section %}
  <div class="advantages">
    <div class="container">
      <div class="row justify-content-center">
        {% for item in advantages %}
          <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            {% render "@advantage", {
              'mods': '' + loop.index,
              'advantage': item.advantage
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container">
      <h3 class="services__sep-title">{{ sepTitle }}</h3>
    <div class="row services__container">
      {% for service in services %}
      {% if loop.last %}
        {% set mobileLastClass = 'col-12' %}
      {% else %}
        {% set mobileLastClass = 'col-6' %}
      {% endif %}
        <div class="{{ mobileLastClass }} col-sm-4 col-md-3 col-lg-5ths mb-6">
            {% set servicesConfig = {
              delay: loop.index*10
            } | objAssign(service)%}
            {% render "@service", servicesConfig %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="services__inline-bg" style="background: url({{ '/assets/images/sections/services/services-bg.png' | path }}) 0 100% no-repeat; width: 892px; height: 697px;">
  </div>
{% endblock %}
