/*
 * About video elements
 */
.about-video {
  $z-index__bg: 0;
  $z-index__header: 5;
  $z-index__relative-content: 5;

  position: relative;
  padding: 5em 0;
  @include media(">=lg"){
    padding-top: 13.4em;
    height: 95em;
  };

  &__bg {
     background: url('../images/sections/about-video/about-video__bg.png') 50% 0 no-repeat;
     position: absolute;
     top: -304px;
     left: 0;
     right: 0;
     height: 1428px;
     z-index: $z-index__bg;
     @include media("<lg") {
      top: 0;
      height: 100%;
      background: url('../images/sections/about-video/about-video__bg--mobile.png') 0 0 no-repeat;
      background-size: cover;
     };
  }

  &__relative-content {
    position: relative;
    z-index: $z-index__relative-content;
  }
  &__slide-video-image {
      width: 100%;
  }

  .p-section__header {
      position: relative;
      z-index: $z-index__header;

  }
  .section-title {
    color: white;
  }

  &__content-wrapper {
      position: relative;
      // overflow: hidden;
      margin: 3em 0;
      padding: 2em;
  }

  &__corner {
    position: absolute;
    background: url('../images/sections/about-video/about-video__corner.png') 0 0 no-repeat;
    width: 26.8em;
    height: 26.8em;
    @include media("<lg"){
      max-width: 13vw;
      max-height: 13vw;
      content: 'viewport-units-buggyfill; max-width: 13vw; max-height: 13vw;';
    };
    &--l-t {
      left: 0;
      top: 0
    }
    &--r-b {
      right: 0;
      bottom: 0;
    }
  }

  .ytp-large-play-button {
    background-color: #cd201f;
    background-image: none;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    @include media(">=lg"){
      width: 16em;
      height: 16em;
    };
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    &:before {
        content: "";
        position: absolute;
        width: 60%;
        height: 60%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url('../images/YT_play_btn-white.png') 50% 50% no-repeat;
        background-size: contain;
    }
  }



}

.swiper-nav-buttons {

    @include media(">=xl"){
      margin: 0;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: 110%;
      left: -5%;
      z-index: -1;
    };
    @include media(">=1440px"){
      width: 120%;
      left: -10%;
    };

  }
  .swiper-button-prev,
  .swiper-button-next {
    background-size: 2.4em 4.3em;
    @include media("<xl"){
      background-color: rgba(49, 49, 49, 0.69);
      height: 6em;
      margin-top: -3em;
      width: 6em;
      background-size: 2.4em 4.3em;
    };
  }
  .swiper-button-prev {
    transition: .35s ease all;
    background-image: url('../images/icons/slider-prev.png');
    &:hover {
      background-image: url('../images/icons/slider-prev-hover.png');
    }
  }
  .swiper-button-next {
    transition: .35s ease all;
    background-image: url('../images/icons/slider-next.png');
    &:hover {
      background-image: url('../images/icons/slider-next-hover.png');
    }
  }

.swiper-pagination {
    bottom: -2em;
    left: 0;
    right: 0;
    margin: auto;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 5px;
    opacity: 0.4;
    background: #b2b2b2;
    opacity: 1;
    &-active {
        background: $base-color--primary;
    }
}





/*
 * Play button (YouTube style)
 */
.ytp-button:focus,
.ytp-button {
  border: none;
  outline: 0;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  cursor: default;
  line-height: inherit;

/*  margin: 0; */
  padding: 0;
  background: transparent;
}

$yt_playbutton-bg: url('../images/YT_play_btn.png') 50% no-repeat;
$yt_playbutton-width: 117px;
$yt_playbutton-height: 84px;

.ytp-large-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $yt_playbutton-width;
  height: $yt_playbutton-height;
  @media screen and (max-width: 540px) {
    $yt_playbutton-width: $yt_playbutton-width*0.7;
    $yt_playbutton-height: $yt_playbutton-height*0.7;
    width: $yt_playbutton-width;
    height: $yt_playbutton-height;
    margin-left: -($yt_playbutton-width/2);
    margin-top: -($yt_playbutton-height/2);
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    $yt_playbutton-width: $yt_playbutton-width*0.7;
    $yt_playbutton-height: $yt_playbutton-height*0.7;
    width: $yt_playbutton-width;
    height: $yt_playbutton-height;
    margin-left: -($yt_playbutton-width/2);
    margin-top: -($yt_playbutton-height/2);
  }

  margin-left: -($yt_playbutton-width/2);
  margin-top: -($yt_playbutton-height/2);
  transition: opacity .25s cubic-bezier(0,0,0.2,1);

  background: $yt_playbutton-bg;
  background-size: contain;
  animation: pulse 2s linear infinite;
  max-width: 100%;
}

.ytp-button:not([aria-disabled=true]):not([disabled]):not([aria-hidden=true]) {
  cursor: pointer;
}
@-webkit-keyframes pulse {
    0%,100% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        filter: alpha(opacity=85);
        opacity: .85
    }

    10% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: alpha(opacity=1);
        opacity: 1
    }

    20% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        filter: alpha(opacity=1);
        opacity: 1
    }
}
