{% extends "@section" %}
{% block section %}
  <div class="about-video__bg"></div>
  <div class="about-video__relative-content">
    <div class="container">
      <div class="about-video__content-wrapper">
        <div class="about-video__corner about-video__corner--l-t" data-aos="zoom-right" data-aos-delay="700"></div>
        <div class="about-video__corner about-video__corner--r-b" data-aos="zoom-left" data-aos-delay="700"></div>
        <div class="about-video__content" data-aos="fade-in" >
          {% render "@video-review", videoConfig %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
